<div class="container mt-5">
    <div class="row mb-4 justify-content-md-center">
        <div class="col">
          <div class="card">
            <div class="card-body text-center">
              <h2>{{accion}} Producto</h2>
              <form >
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa-solid fa-book"></i>
                    </span>
                    <input formControlName="descripcion_producto" type="text" class="form-control" placeholder="Descripción del producto" required>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa-sharp fa-solid fa-check"></i>
                    </span>
                    <select class="form-control" id="inputGroupSelect01">
                      <option selected>Elegir...</option>
                      <option value="Activo">Activo</option>
                      <option value="Inactivo">Inactivo</option>
                    </select>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa-sharp fa-solid fa-user"></i>
                    </span>
                    <input formControlName="fecha_fabrica" type="datetime" class="form-control" placeholder="Fecha fabricación" required>
                </div>

                <div class='input-group date' id='datetimepicker1'>
                    
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa-sharp fa-solid fa-calendar-days"></i>
                    </span>
                    <input type='text' class="form-control" />
                    
                    
                 </div>

                
                <!-- <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa-sharp fa-solid fa-list-ol"></i>
                    </span>
                    <input formControlName="age" type="number" class="form-control" placeholder="Age" required>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa-solid fa-book"></i>
                    </span>
                    <input formControlName="career" type="text" class="form-control" placeholder="Career" required>
                </div>
                <button [disabled]="this.form.invalid" type="submit" class="btn btn-success btn-lg">
                    <i class="fa-solid fa-floppy-disk"></i>&nbsp; Save</button> -->
              </form>
            </div>
          </div>
        </div>
      </div>
</div>

